n8n_ready_to_import/blog_automatique_v9.json
{
    "name": "📰 OUTFITY - Pilote Automatique (V9 - Focus Unique)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 4
                        }
                    ]
                }
            },
            "id": "trigger",
            "name": "Toutes les 4 heures",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                0,
                360
            ]
        },
        {
            "parameters": {
                "url": "https://fr.fashionnetwork.com/rss/feed/fr,1.xml"
            },
            "id": "rss-fn",
            "name": "FashionNetwork FR",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                260,
                250
            ]
        },
        {
            "parameters": {
                "url": "https://journalduluxe.fr/fr/rss"
            },
            "id": "rss-jdl",
            "name": "Journal du Luxe",
            "type": "n8n-nodes-base.rssFeedRead",
            "typeVersion": 1,
            "position": [
                260,
                450
            ]
        },
        {
            "parameters": {
                "jsCode": "const allItems = $input.all().map(i => i.json);\nreturn [{ json: { items: allItems } }];"
            },
            "id": "aggregate",
            "name": "Rassembler News",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                500,
                360
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "={{ $env.OUTFITY_APP_URL || 'https://outfity.fr' }}/api/blog/trends-data",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-n8n-secret",
                            "value": "bmad_n8n_secret_2024_ultra_secure"
                        }
                    ]
                }
            },
            "id": "trends",
            "name": "OUTFITY Trends",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                500,
                550
            ]
        },
        {
            "parameters": {
                "mode": "combine",
                "mergeByFields": {
                    "values": [
                        {
                            "field1": "json",
                            "field2": "json"
                        }
                    ]
                }
            },
            "id": "merge",
            "name": "Fusionner",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                720,
                450
            ]
        },
        {
            "parameters": {
                "resource": "chat",
                "model": "gpt-4o-mini",
                "messages": {
                    "values": [
                        {
                            "role": "system",
                            "content": "Tu es le Stratège Marketing en Chef de BIANGORY.\n\nCONSIGNES DE STYLE CRUCIALES :\n1. TITRE : Utilise uniquement le format \"Sentence case\" (majuscule uniquement au premier mot du titre). INTERDICTION de mettre des majuscules à chaque mot.\n2. STRUCTURE : Rédige un récit fluide. Ne mets AUCUN sous-titre (pas de H2, pas de H3, pas de gras pour les titres).\n3. PARAGRAPHES : Espace généreusement tes paragraphes pour assurer une lecture aérée et premium.\n4. TON : Reste expert, analytique et visionnaire.\n\nTA MISSION : Transformer cette news en une analyse marketing profonde (600-800 mots) qui servira de base de données stratégique pour notre IA.\n\nTON ANGLE D'ATTAQUE (MARKETING CORE) :\nPour chaque article, tu dois impérativement analyser ces 3 points :\n1. LE POSITIONNEMENT : Où se situe la marque ? Qui est la cible précise (Persona) ? Quelle est la proposition de valeur ?\n2. L'AVANTAGE CONCURRENTIEL : Pourquoi ce mouvement est-il malin par rapport aux concurrents ? Parle de parts de marché et de branding.\n3. LA DATA-STRATÉGIE : Explique pourquoi la maîtrise de la donnée est la clé du succès de ce projet.\n\nTON STYLE D'ÉCRITURE :\n- STYLE : Éditorial de haut vol, type \"Harvard Business Review\" version Streetwear.\n- FLUIDITÉ : AUCUN Titre (##), AUCUNE liste. Écris un texte continu et dense.\n- TRADUCTION : Tout en Français pur, même si la source est en anglais.\n\nFAIRE LE PONT VERS L'APP OUTFITY :\nTermine l'article en expliquant que pour anticiper ces mouvements de marché, les entrepreneurs doivent utiliser la puissance de la data d'OUTFITY. Fais-en la suite logique de l'analyse.\n\nCONSIGNE TECHNIQUE CRITIQUE :\nLe champ 'sourceUrl' DOIT TOUJOURS être rempli avec l'URL exacte de l'article source original. C'est obligatoire pour éviter les doublons.\n\nTu vas recevoir une liste de plusieurs actualités. Ta première mission est de choisir la plus stratégique et la plus RÉCENTE (priorité aux articles de moins de 24h) parmi elles, puis d'écrire ton analyse uniquement sur celle-ci.\n\nFORMAT DE SORTIE (JSON STRICT) :\n{\n  \"title\": \"Titre Stratégique & Marketing (en Français, Sentence case)\",\n  \"slug\": \"titre-seo-marketing\",\n  \"excerpt\": \"Le point clé stratégique de cet article en une phrase.\",\n  \"content\": \"Ton analyse marketing de 600-800 mots... fluide... finissant par la recommandation OUTFITY.\",\n  \"tags\": [\"Marketing\", \"Stratégie\", \"Business\", \"Data\"],\n  \"coverImage\": \"URL IMAGE\",\n  \"sourceUrl\": \"URL SOURCE OBLIGATOIRE\"\n}"
                        },
                        {
                            "role": "user",
                            "content": "=ACTUALITÉS DISPONIBLES :\n{{ JSON.stringify($node[\"Rassembler News\"].json.items) }}\n\nDONNÉES TENDANCES OUTFITY :\n{{ JSON.stringify($node[\"OUTFITY Trends\"].json) }}"
                        }
                    ]
                },
                "jsonOutput": true
            },
            "id": "ai_editor",
            "name": "IA - Expert Rédacteur",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1.1,
            "position": [
                940,
                450
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.OUTFITY_APP_URL || 'https://outfity.fr' }}/api/blog/webhook",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-n8n-secret",
                            "value": "bmad_n8n_secret_2024_ultra_secure"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "title",
                            "value": "={{ $json.message.content.title }}"
                        },
                        {
                            "name": "slug",
                            "value": "={{ $json.message.content.slug }}"
                        },
                        {
                            "name": "excerpt",
                            "value": "={{ $json.message.content.excerpt }}"
                        },
                        {
                            "name": "content",
                            "value": "={{ $json.message.content.content }}"
                        },
                        {
                            "name": "tags",
                            "value": "={{ $json.message.content.tags }}"
                        },
                        {
                            "name": "sourceUrl",
                            "value": "={{ $json.message.content.sourceUrl }}"
                        },
                        {
                            "name": "coverImage",
                            "value": "={{ $json.message.content.coverImage }}"
                        },
                        {
                            "name": "author",
                            "value": "OUTFITY Intelligence"
                        }
                    ]
                }
            },
            "id": "publish",
            "name": "Publication",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1160,
                450
            ]
        }
    ],
    "connections": {
        "Toutes les 4 heures": {
            "main": [
                [
                    {
                        "node": "FashionNetwork FR",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Journal du Luxe",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "OUTFITY Trends",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "FashionNetwork FR": {
            "main": [
                [
                    {
                        "node": "Rassembler News",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Journal du Luxe": {
            "main": [
                [
                    {
                        "node": "Rassembler News",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Rassembler News": {
            "main": [
                [
                    {
                        "node": "Fusionner",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OUTFITY Trends": {
            "main": [
                [
                    {
                        "node": "Fusionner",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Fusionner": {
            "main": [
                [
                    {
                        "node": "IA - Expert Rédacteur",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IA - Expert Rédacteur": {
            "main": [
                [
                    {
                        "node": "Publication",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}