n8n_ready_to_import/outfity_machine_contenu_v1.json
{
    "name": "OUTFITY - Machine a Contenu (9 Videos/Jour)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 22 * * *"
                        }
                    ]
                }
            },
            "id": "a1b2c3d4-0001-0001-0001-000000000001",
            "name": "Chaque soir a 22h",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                0,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://outfity.fr/api/webhooks/n8n/daily-articles",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-n8n-secret",
                            "value": "bmad_n8n_secret_2024_ultra_secure"
                        }
                    ]
                },
                "options": {}
            },
            "id": "a1b2c3d4-0002-0002-0002-000000000002",
            "name": "Fetch OUTFITY Articles",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                220,
                100
            ]
        },
        {
            "parameters": {
                "jsCode": "// On récupère le texte de Claude\nlet t = $json.text || '';\n\n// On nettoie les balises ```json et ```\nt = t.replace(/^```json\\s*/i, '').replace(/\\s*```$/i, '').trim();\n\ntry {\n  const d = JSON.parse(t);\n  return d.item || [];\n} catch (e) {\n  throw new Error('Erreur JSON: ' + e.message);\n}"
            },
            "id": "a1b2c3d4-0012-0012-0012-000000000012",
            "name": "Nettoyeur & Split News",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                420,
                0
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "selected",
                "options": {}
            },
            "id": "a1b2c3d4-0003-0003-0003-000000000003",
            "name": "Split Articles",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 3.1,
            "position": [
                600,
                0
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Voici une news publiee sur mon site OUTFITY :\n\nTitre : {{ $json.title }}\nResume : {{ $json.excerpt }}\n\nTa mission : Transforme cet article en un script de video facecam (TikTok, Reels, Shorts) qui PERCE L'ALGO. Le but est un taux de completion maximum et un maximum de sauvegardes.\n\nLA FORMULE VIRALE OBLIGATOIRE (dans cet ordre strict) :\n\n1. HOOK (0-3 sec) : Cree une BOUCLE OUVERTE. Une contradiction, un chiffre choc, ou une verite qui derange. Le cerveau doit AVOIR BESOIN de continuer pour fermer cette boucle. Ex: 'La raison pour laquelle ta marque va faire 0 euros ce mois, meme si t as un super logo.'\n\n2. CORPS (4-25 sec) : Une contre-intuition ou une verite que les gens ne disent pas. Phrases de 8 mots max. Chaque phrase doit etre une bombe. L'info doit etre si bonne que les gens la sauvegardent.\n\n3. MICRO-CTA (vers 25 sec) : Replante l attention des decrocheurs avec une promesse. Ex: 'Et si tu veux savoir exactement comment...' Ne termine pas la phrase, coupe sur la suivante.\n\n4. CTA FINAL (36-45 sec) : 1 seule action, ultra-simple. Commenter un mot. Ex: 'Commente VETEMENT et je t envoie ma methode complete en DM maintenant.'\n\nMISE EN FORME (renvoie UNIQUEMENT ceci) :\n\n[ACTU] - {{ $json.title }}\n\n🎬 SCRIPT FACECAM :\n(Hook) : [Boucle ouverte - contradiction ou chiffre choc]\n(Corps) : [Contre-intuition cash, phrases courtes, info sauvegardable]\n(Micro-CTA) : [Phrase qui replante l attention a 25 sec]\n(CTA Final) : [Commente VETEMENT + promesse DM]\n\n📱 CAPTION RESEAUX : [1ere ligne = reprise du hook | 2-3 lignes de valeur | Commente VETEMENT | 5 hashtags niche]",
                "hasOutputParser": false,
                "messages": {
                    "messageValues": [
                        {
                            "message": "Tu es le fondateur d'OUTFITY. Tu t'adresses a des gens qui VEULENT lancer leur marque de vetement mais qui n'ont pas encore franchi le pas. Ils ont une idee, un reve, mais ils ont peur de se planter, peur du cout, peur de ne pas savoir par ou commencer. Ton contenu doit leur parler de leurs blocages, lever leurs peurs, et leur montrer que c'est possible. No bullshit. Taux de completion et sauvegardes sont ta priorite."
                        }
                    ]
                }
            },
            "id": "a1b2c3d4-0004-0004-0004-000000000004",
            "name": "Claude - Script News",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4,
            "position": [
                820,
                0
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "Tu es le fondateur d'OUTFITY. Trouve un conseil BRUTAL sur la RENTABILITE, la PRODUCTION ou la LOGISTIQUE d'une marque independante que personne ne dit. Le genre qui fait economiser 3000 euros ou evite une erreur fatale.\n\nLA FORMULE VIRALE OBLIGATOIRE :\n\n1. HOOK (0-3 sec) : Boucle ouverte sur une erreur chiffrée ou un secret de production. Ex: '73% des marques independantes perdent de l argent sur leur premiere commande, et voila pourquoi.'\n\n2. CORPS (4-25 sec) : Le conseil operationnel brut. Aucun mot de remplissage. Chaque phrase = une info actee. Format : 'La realite c est que... / Ce que personne te dit c est... / La vraie question c est...' Les gens doivent sauvegarder parce que c est trop bon pour oublier.\n\n3. MICRO-CTA (vers 25 sec) : 'Si tu veux le template exact que j utilise pour...' (ne termine pas, coupe sur le CTA final).\n\n4. CTA FINAL (36-45 sec) : 'Commente VETEMENT et je t envoie ma ressource complete en DM. Gratuit, maintenant.'\n\nMISE EN FORME (renvoie UNIQUEMENT ceci) :\n\n[BUSINESS] - Conseil Business\n\n🎬 SCRIPT FACECAM :\n(Hook) : [Stat ou secret de prod - boucle ouverte]\n(Corps) : [Conseil operationnel pur, phrases courtes, sauvegardable]\n(Micro-CTA) : [Promesse d outil ou template a 25 sec]\n(CTA Final) : [Commente VETEMENT + promesse DM]\n\n📱 CAPTION RESEAUX : [Reprise du hook | Conseil en 2 lignes | Commente VETEMENT | 5 hashtags]",
                "hasOutputParser": false,
                "messages": {
                    "messageValues": [
                        {
                            "message": "Tu es le fondateur d'OUTFITY. Tu t'adresses a des gens qui veulent lancer leur marque de vetement mais qui bloquent sur les couts, la production, la logistique. Ils ont peur de perdre de l'argent ou de ne pas savoir comment trouver un fabricant. Ton conseil doit lever ces peurs avec des informations concretes et rassurantes, tout en etant cash et direct."
                        }
                    ]
                }
            },
            "id": "a1b2c3d4-0005-0005-0005-000000000005",
            "name": "Claude - Conseil Business",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4,
            "position": [
                660,
                300
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "Tu es le fondateur d'OUTFITY. Trouve un HACK MARKETING ou une strategie de VIRALITE (psychologie du prix, TikTok organique, biais cognitifs, conversion) pour faire exploser une marque de vetements. Quelque chose de contre-intuitif que les agences ne disent pas.\n\nLA FORMULE VIRALE OBLIGATOIRE :\n\n1. HOOK (0-3 sec) : Contre-intuition maximale. Ce qui marche est souvent l'inverse de ce que les gens pensent. Ex: 'Arrête de faire des pubs. Voila pourquoi tes ventes stagnent.' OU une stat qui choque : 'Les marques qui postent le moins ont 3x plus d engagement. Voila pourquoi.'\n\n2. CORPS (4-25 sec) : Explique le hack en 3 etapes max, aucune theorie. Que du concret, acteable aujourd hui. Utilise les biais cognitifs dans le texte lui-meme (rareté, preuve sociale, reciprocite). Les gens doivent partager parce que c est trop contre-intuitif pour ne pas le partager.\n\n3. MICRO-CTA (vers 25 sec) : 'Et le truc que je n ai dit a personne encore...' (coupe, cree la frustration, replante l attention).\n\n4. CTA FINAL (36-45 sec) : 'Commente VETEMENT, j envoie le guide complet en DM. Zero email, zero pub. Maintenant.'\n\nMISE EN FORME (renvoie UNIQUEMENT ceci) :\n\n[MARKETING] - Strategie Marketing\n\n🎬 SCRIPT FACECAM :\n(Hook) : [Contre-intuition forte - boucle ouverte]\n(Corps) : [Hack en 3 etapes max, ultra-concret, shareable]\n(Micro-CTA) : [Teaser frustrant qui replante l attention]\n(CTA Final) : [Commente VETEMENT + promesse DM]\n\n📱 CAPTION RESEAUX : [Reprise contre-intuition | 2 lignes hack | Commente VETEMENT | 5 hashtags]",
                "hasOutputParser": false,
                "messages": {
                    "messageValues": [
                        {
                            "message": "Tu es le fondateur d'OUTFITY. Tu t'adresses a des gens qui veulent lancer leur marque de vetement mais qui ne savent pas comment se faire connaitre sans budget pub. Ils voient des marques exploser sur TikTok et Instagram et se demandent comment faire pareil. Donne-leur les vraies cles du marketing organique, de la viralite, et de la croissance avec 0 euros de pub."
                        }
                    ]
                }
            },
            "id": "a1b2c3d4-0006-0006-0006-000000000006",
            "name": "Claude - Conseil Marketing",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4,
            "position": [
                660,
                500
            ]
        },
        {
            "parameters": {
                "model": "claude-3-5-sonnet-20240620",
                "options": {}
            },
            "id": "a1b2c3d4-0007-0007-0007-000000000007",
            "name": "Anthropic Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
            "typeVersion": 1.2,
            "position": [
                500,
                350
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "Tu es le fondateur d'OUTFITY. Fais un script 'Vendeur Educatif' (Donner, Donner, Demander) qui PERCE L'ALGO. Pars d'une vraie erreur fatale liee a la creation de marque. Donne enormement de valeur brute, puis propose la ressource comme la suite logique et naturelle.\n\nLA FORMULE VIRALE OBLIGATOIRE :\n\n1. HOOK (0-3 sec) : Electrochoc psychologique. Une boucle ouverte sur une erreur specifique et chiffree que 90% des gens font. Ex: 'L erreur que font 9 marques sur 10 a leur lancement et qui leur coute 6 mois de retard.'\n\n2. CORPS (4-25 sec) : Methode Donner Donner. Donne 2 conseils ultra-concrets, actionnables aujourd hui. Des phrases courtes. Le genre de valeur que les gens sauvegardent et envoient a leurs amis entrepreneurs. Ne retiens rien.\n\n3. MICRO-CTA (vers 25 sec) : 'J ai condense tout le reste dans quelque chose que je distribue gratuitement...' (pause, coupe, replante l attention avant le CTA final).\n\n4. CTA FINAL (36-45 sec) : 'Commente VETEMENT et je t envoie ma ressource privee en DM : Faire ses premiers 1 000 euros avec sa marque. C est gratuit, c est maintenant.'\n\nMISE EN FORME (renvoie UNIQUEMENT ceci) :\n\n[OFFRE] - Formation 1000€\n\n🎬 SCRIPT FACECAM :\n(Hook) : [Electrochoc - erreur fatale chiffree]\n(Corps) : [2 conseils ultra-actionnables, sauvegardables]\n(Micro-CTA) : [Teaser de la ressource a 25 sec]\n(CTA Final) : [Commente VETEMENT + promesse ressource DM]\n\n📱 CAPTION RESEAUX : [Reprise hook | 2 conseils en format liste | Commente VETEMENT pour la ressource | 5 hashtags]",
                "hasOutputParser": false,
                "messages": {
                    "messageValues": [
                        {
                            "message": "Tu es le fondateur d'OUTFITY. Tu t'adresses a des gens qui ont un reve : lancer leur propre marque de vetement. Ils ne savent pas par ou commencer, ont peur de l'echec, peur de perdre de l'argent, peur de ne pas etre legitimes. Ton contenu doit leur donner les cles concretes pour passer a l'action, lever leurs peurs, et leur montrer que faire ses premiers 1000 euros avec une marque est accessible. Tu vends par l'education, jamais par la pub."
                        }
                    ]
                }
            },
            "id": "a1b2c3d4-0011-0011-0011-000000000011",
            "name": "Claude - Conseil Vendeur",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4,
            "position": [
                660,
                700
            ]
        },
        {
            "parameters": {
                "mode": "append",
                "options": {}
            },
            "id": "a1b2c3d4-0008-0008-0008-000000000008",
            "name": "Merge All Scripts",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "value": "REMPLACE_PAR_TON_GOOGLE_DOC_ID",
                    "__rl": true,
                    "mode": "id"
                },
                "text": "=--------------------------------------------------\n📅 DATE : {{ $now.format('DD/MM/YYYY') }}\n--------------------------------------------------\n\n{{ $json.text }}\n\n",
                "options": {}
            },
            "id": "a1b2c3d4-0009-0009-0009-000000000009",
            "name": "Google Docs - Archive Scripts",
            "type": "n8n-nodes-base.googleDocs",
            "typeVersion": 2,
            "position": [
                1120,
                200
            ]
        },
        {
            "parameters": {
                "calendar": {
                    "value": "primary",
                    "__rl": true,
                    "mode": "list"
                },
                "start": "={{ ($json.text.includes('[OFFRE]')) ? $today.plus({ days: 1, hours: 18 }).toISO() : $today.plus({ days: 1, hours: 11 }).plus({ minutes: $itemIndex * 90 }).toISO() }}",
                "end": "={{ ($json.text.includes('[OFFRE]')) ? $today.plus({ days: 1, hours: 18, minutes: 30 }).toISO() : $today.plus({ days: 1, hours: 11, minutes: 30 }).plus({ minutes: $itemIndex * 90 }).toISO() }}",
                "additionalFields": {
                    "summary": "=🎬 {{$json.text.match(/\\[(.*?)\\]/)?.[0] || '[CONTENU]'}} {{ $json.title || 'Strategie OUTFITY' }}",
                    "description": "={{ $json.text }}\n\n{{ $json.coverImage ? '🖼️ PHOTO DE L\\'ARTICLE :\n' + $json.coverImage : '' }}"
                }
            },
            "id": "a1b2c3d4-0010-0010-0010-000000000010",
            "name": "Google Calendar - Planning Tournage",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1.1,
            "position": [
                1120,
                400
            ]
        }
    ],
    "connections": {
        "Chaque soir a 22h": {
            "main": [
                [
                    {
                        "node": "Fetch OUTFITY Articles",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Claude - Conseil Business",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Claude - Conseil Marketing",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Claude - Conseil Vendeur",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch OUTFITY Articles": {
            "main": [
                [
                    {
                        "node": "Claude - Selectionneur de News",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Claude - Selectionneur de News": {
            "main": [
                [
                    {
                        "node": "Split Articles",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Articles": {
            "main": [
                [
                    {
                        "node": "Claude - Script News",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Claude - Script News": {
            "main": [
                [
                    {
                        "node": "Merge All Scripts",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Claude - Conseil Business": {
            "main": [
                [
                    {
                        "node": "Merge All Scripts",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Claude - Conseil Marketing": {
            "main": [
                [
                    {
                        "node": "Merge All Scripts",
                        "type": "main",
                        "index": 2
                    }
                ]
            ]
        },
        "Claude - Conseil Vendeur": {
            "main": [
                [
                    {
                        "node": "Merge All Scripts",
                        "type": "main",
                        "index": 3
                    }
                ]
            ]
        },
        "Merge All Scripts": {
            "main": [
                [
                    {
                        "node": "Google Docs - Archive Scripts",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Google Calendar - Planning Tournage",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Anthropic Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Claude - Script News",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "Claude - Selectionneur de News",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Claude - Conseil Business",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Claude - Conseil Marketing",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Claude - Conseil Vendeur",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "versionId": "v1"
}