n8n_ready_to_import/outfity_sequence_complet.json
{
    "name": "OUTFITY - Séquence Complète (UI PREMIUM)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "outfity-onboarding",
                "options": {}
            },
            "name": "Webhook Inscription (Starter)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.resend.com/emails",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"from\": \"OUTFITY <hello@send.outfity.fr>\",\n  \"to\": [\"{{ $('Webhook Inscription (Starter)').item.json.body.email }}\"],\n  \"subject\": \"Bienvenue chez OUTFITY 🚀\",\n  \"html\": \"<div style='font-family: -apple-system, BlinkMacSystemFont, \\\"Segoe UI\\\", Roboto, Helvetica, Arial, sans-serif; background-color: #f5f5f7; padding: 40px 20px; text-align: center;'><div style='max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 24px; padding: 48px; box-shadow: 0 4px 12px rgba(0,0,0,0.05); text-align: left;'><h1 style='font-size: 24px; font-weight: 700; color: #1d1d1f; margin-bottom: 24px; text-align: center;'>Bienvenue dans l'équipe 🚀</h1><p style='font-size: 16px; line-height: 1.6; color: #424245;'>Salut <b>{{ $('Webhook Inscription (Starter)').item.json.body.name }}</b>,<br><br>C'est officiel, ton compte OUTFITY est activé. Tu viens de rejoindre la nouvelle ère de la création de mode propulsée par l'IA.</p><div style='background-color: #fbfbfd; border-radius: 16px; padding: 24px; margin: 32px 0; border: 1px solid #d2d2d7;'><p style='margin: 0; font-size: 14px; color: #86868b; font-weight: 600; text-transform: uppercase; letter-spacing: 0.05em;'>Ton Statut Actuel : Starter</p><p style='margin: 8px 0 0 0; font-size: 15px; color: #1d1d1f; font-weight: 500;'>Pour lancer ton projet, débloque Virgil, Pharrell et Ada gratuitement pendant 3 jours.</p></div><div style='text-align: center;'><a href='https://outfity.fr/auth/choose-plan' style='display: inline-block; background-color: #000000; color: #ffffff; padding: 18px 36px; border-radius: 14px; font-size: 16px; font-weight: 600; text-decoration: none; box-shadow: 0 4px 15px rgba(0,0,0,0.15);'>Démarrer mon essai de 3 jours</a></div><hr style='border: none; border-top: 1px solid #d2d2d7; margin: 40px 0;'><p style='font-size: 13px; color: #86868b; line-height: 1.5; text-align: center;'>Si tu as la moindre question, réponds simplement à cet e-mail.<br><b>Johan</b> et l'équipe technique sont à ton écoute.<br><br>© 2026 OUTFITY. Tous droits réservés.</p></div></div>\"\n}"
            },
            "name": "Email Bienvenue",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                450,
                200
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "",
                    "name": "Header Auth"
                }
            }
        },
        {
            "parameters": {
                "amount": 2,
                "unit": "days"
            },
            "name": "Attente 2 Jours (Relance)",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                650,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.resend.com/emails",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"from\": \"OUTFITY <hello@send.outfity.fr>\",\n  \"to\": [\"{{ $('Webhook Inscription (Starter)').item.json.body.email }}\"],\n  \"subject\": \"Dernière chance pour ton essai gratuit ⏳\",\n  \"html\": \"<div style='font-family: -apple-system, BlinkMacSystemFont, \\\"Segoe UI\\\", Roboto, Helvetica, Arial, sans-serif; background-color: #f5f5f7; padding: 40px 20px; text-align: center;'><div style='max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 24px; padding: 48px; box-shadow: 0 4px 12px rgba(0,0,0,0.05); text-align: left;'><h1 style='font-size: 24px; font-weight: 700; color: #1d1d1f; margin-bottom: 24px; text-align: center;'>Dernière chance ⏳</h1><p style='font-size: 16px; line-height: 1.6; color: #424245;'>Salut <b>{{ $('Webhook Inscription (Starter)').item.json.body.name }}</b>,<br><br>Je vois que tu n'as pas encore activé ton essai gratuit. C'est le moment idéal pour débloquer Pharrell (Design) et Virgil (Stratégie) gratuitement pendant 3 jours.</p><div style='background-color: #fff9f0; border-radius: 16px; padding: 24px; margin: 32px 0; border: 1px solid #ffcc00;'><p style='margin: 0; font-size: 14px; color: #b8860b; font-weight: 600; text-transform: uppercase;'>Offre limitée</p><p style='margin: 8px 0 0 0; font-size: 15px; color: #1d1d1f; font-weight: 500;'>Sécurise ton tarif de lancement à 29€/mois à vie (au lieu de 39€) avant qu'il n'expire.</p></div><div style='text-align: center;'><a href='https://outfity.fr/auth/choose-plan' style='display: inline-block; background-color: #000000; color: #ffffff; padding: 18px 36px; border-radius: 14px; font-size: 16px; font-weight: 600; text-decoration: none; box-shadow: 0 4px 15px rgba(0,0,0,0.15);'>Je débloque l'équipe (3 Jours Gratuits)</a></div><hr style='border: none; border-top: 1px solid #d2d2d7; margin: 40px 0;'><p style='font-size: 13px; color: #86868b; line-height: 1.5; text-align: center;'>Johan - Tech Lead @ OUTFITY</p></div></div>\"\n}"
            },
            "name": "Email Relance (J+2)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                850,
                200
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "",
                    "name": "Header Auth"
                }
            }
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "outfity-subscription",
                "options": {}
            },
            "name": "Webhook Stripe (Essai)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                500
            ]
        },
        {
            "parameters": {
                "amount": 2,
                "unit": "days"
            },
            "name": "Attente 48h (Fin Essai)",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                450,
                500
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.resend.com/emails",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"from\": \"OUTFITY <hello@send.outfity.fr>\",\n  \"to\": [\"{{ $('Webhook Stripe (Essai)').item.json.body.email }}\"],\n  \"subject\": \"Plus que 24h pour ton essai Créateur ⏳\",\n  \"html\": \"<div style='font-family: -apple-system, BlinkMacSystemFont, \\\"Segoe UI\\\", Roboto, Helvetica, Arial, sans-serif; background-color: #f5f5f7; padding: 40px 20px; text-align: center;'><div style='max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 24px; padding: 48px; box-shadow: 0 4px 12px rgba(0,0,0,0.05); text-align: left;'><h1 style='font-size: 24px; font-weight: 700; color: #1d1d1f; margin-bottom: 24px; text-align: center;'>Bientôt la fin de l'essai ⏳</h1><p style='font-size: 16px; line-height: 1.6; color: #424245;'>Salut <b>{{ $('Webhook Stripe (Essai)').item.json.body.name }}</b>,<br><br>Ton essai gratuit se termine dans 24 heures. C'est ta dernière journée pour tester toute l'équipe au tarif bloqué de <b>29€/mois à vie (au lieu de 39€)</b>.</p><div style='background-color: #fbfbfd; border-radius: 16px; padding: 24px; margin: 32px 0; border: 1px solid #d2d2d7;'><p style='margin: 0; font-size: 14px; color: #1d1d1f; font-weight: 600;'>Dès demain :</p><p style='margin: 8px 0 0 0; font-size: 15px; color: #424245;'>Ton abonnement Créateur sera officiellement activé. Tu n'as rien à faire pour conserver tes accès.</p></div><div style='text-align: center;'><a href='https://outfity.fr' style='display: inline-block; background-color: #000000; color: #ffffff; padding: 18px 36px; border-radius: 14px; font-size: 16px; font-weight: 600; text-decoration: none; box-shadow: 0 4px 15px rgba(0,0,0,0.15);'>Aller sur la plateforme</a></div><hr style='border: none; border-top: 1px solid #d2d2d7; margin: 40px 0;'><p style='font-size: 13px; color: #86868b; line-height: 1.5; text-align: center;'>Tu peux te rétracter à tout moment depuis tes paramètres.<br><br>© 2026 OUTFITY. Tous droits réservés.</p></div></div>\"\n}"
            },
            "name": "Email Fin d'Essai",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                650,
                500
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "",
                    "name": "Header Auth"
                }
            }
        }
    ],
    "connections": {
        "Webhook Inscription (Starter)": {
            "main": [
                [
                    {
                        "node": "Email Bienvenue",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Email Bienvenue": {
            "main": [
                [
                    {
                        "node": "Attente 2 Jours (Relance)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Attente 2 Jours (Relance)": {
            "main": [
                [
                    {
                        "node": "Email Relance (J+2)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Stripe (Essai)": {
            "main": [
                [
                    {
                        "node": "Attente 48h (Fin Essai)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Attente 48h (Fin Essai)": {
            "main": [
                [
                    {
                        "node": "Email Fin d'Essai",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {},
    "versionId": "final_ui",
    "meta": {
        "templateCredsSetupCompleted": true
    }
}