n8n_ready_to_import/outfity_machine_contenu_v1.json
{
    "name": "OUTFITY - Machine a Contenu (9 Videos/Jour)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 22 * * *"
                        }
                    ]
                }
            },
            "id": "a1b2c3d4-0001-0001-0001-000000000001",
            "name": "Chaque soir a 22h",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                0,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Rotation des 5 types de hooks selon le jour de la semaine\nconst day = new Date().getDay(); // 0=dim, 1=lun, 2=mar, 3=mer, 4=jeu, 5=ven, 6=sam\n\nconst hooks = {\n  0: { type: 'IDENTIFICATION', label: 'Identification Directe', instruction: \"Commence par cibler directement la situation du spectateur. Ex: 'T as une idée de marque dans la tête depuis des mois et t as encore rien fait ?' ou 'T es du genre à vouloir lancer ta marque mais tu sais pas par ou commencer ?'. Le spectateur doit se dire : il parle de moi.\" },\n  1: { type: 'BOUCLE_OUVERTE', label: 'Boucle Ouverte', instruction: \"Ouvre une boucle que le cerveau DOIT fermer. Ex: 'Y a une erreur que font 90% des gens qui lancent leur marque et qui leur coute 6 mois de retard.' Le spectateur doit AVOIR BESOIN de rester jusqu a la fin pour connaitre la reponse.\" },\n  2: { type: 'CHIFFRE_CHOC', label: 'Chiffre Choc', instruction: \"Commence par un chiffre concret et surprenant. Ex: 'J ai lance ma premiere marque avec 300 euros. Voila exactement comment.' ou '73% des marques de fringues closure avant 1 an. Voila pourquoi et comment eviter ca.'. Le chiffre doit etre credible et frapper.\" },\n  3: { type: 'PROMESSE_RAPIDE', label: 'Promesse Rapide', instruction: \"Fais une promesse de valeur immediate. Ex: 'En 45 secondes je vais te dire comment trouver ton fabricant sans intermediaire.' ou 'Je vais t expliquer en 3 etapes comment lancer ta marque sans 5000 euros.'. Le spectateur reste pour recevoir ce qui lui a ete promis.\" },\n  4: { type: 'CONTRE_INTUITIF', label: 'Contre-Intuitif', instruction: \"Commence par quelque chose d inattendu, mais sans provoquer. Ex: 'Ton logo et tes couleurs, tout le monde s en fout quand tu debutes. Voila ce qui compte vraiment.' ou 'Poster tous les jours sur Instagram est peut etre ta pire erreur.'. Surprend sans agresser.\" },\n  5: { type: 'BOUCLE_OUVERTE', label: 'Boucle Ouverte', instruction: \"Ouvre une boucle que le cerveau DOIT fermer. Ex: 'Y a une chose que j aurais voulu savoir avant de lancer ma premiere marque.' Le spectateur doit AVOIR BESOIN de rester jusqu a la fin pour connaitre la reponse.\" },\n  6: { type: 'IDENTIFICATION', label: 'Identification Directe', instruction: \"Commence par cibler directement la situation du spectateur. La personne doit se reconnaitre immediatement dans ta description de situation.\" }\n};\n\nconst hook = hooks[day];\nreturn [{ json: { hookType: hook.type, hookLabel: hook.label, hookInstruction: hook.instruction, dayIndex: day } }];"
            },
            "id": "a1b2c3d4-0013-0013-0013-000000000013",
            "name": "Selecteur Type de Hook",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                220,
                0
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Ta mission : Cree un script de video facecam (TikTok, Reels, Shorts) de 45 secondes sur le theme de lancer sa marque de vetement.\n\nTYPE DE HOOK DU JOUR : {{ $json.hookLabel }}\nINSTRUCTION POUR LE HOOK : {{ $json.hookInstruction }}\n\nLA FORMULE VIRALE (ordre strict) :\n1. HOOK (0-3 sec) : Applique le type de hook du jour indique ci-dessus.\n2. CORPS (4-25 sec) : Donne une valeur pure, concrete et actionnable. Phrases de 8 mots max. Info si utile que les gens la sauvegardent.\n3. MICRO-CTA (25 sec) : Replante l attention. Ex : 'Et si tu veux savoir exactement comment...' (coupe la phrase, ne termine pas).\n4. CTA FINAL (36-45 sec) : 'Commente VETEMENT et je t envoie ma ressource complete en DM. C est gratuit, c est maintenant.'\n\nMISE EN FORME (renvoie UNIQUEMENT ceci) :\n\n[EDUCATIF] - {{ $json.hookLabel }}\n\n🎬 SCRIPT FACECAM :\n(Hook) : [Texte du hook selon le type du jour]\n(Corps) : [Valeur pure, phrases courtes, sauvegardable]\n(Micro-CTA) : [Phrase qui replante l attention a 25 sec]\n(CTA Final) : [Commente VETEMENT + promesse DM]\n\n📱 CAPTION RESEAUX : [1ere ligne = reprise du hook | 2-3 lignes de valeur | Commente VETEMENT | 5 hashtags niche mode creatif]",
                "hasOutputParser": false,
                "messages": {
                    "messageValues": [
                        {
                            "message": "Tu es le fondateur d'OUTFITY. Tu t'adresses a des 18-24 ans qui veulent lancer leur marque de vetement mais qui n ont pas encore franchi le pas. Ils ont peur de se planter, peur du cout, peur de ne pas savoir par ou commencer. Ton contenu doit lever leurs peurs et leur montrer que c est possible.\n\nREGLE ABSOLUE DE STYLE : Tu ecris pour etre DIT a voix haute, pas pour etre lu. Utilise les mots de l oral : 't as', 'c est', 'y a', 'genre', 'en vrai', 'franchement'. Phrases courtes. Ecris comme tu parles a un pote."
                        }
                    ]
                }
            },
            "id": "a1b2c3d4-0004-0004-0004-000000000004",
            "name": "Claude - Script Educatif",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4,
            "position": [
                440,
                0
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "Tu es le fondateur d'OUTFITY. Trouve un conseil BRUTAL sur la RENTABILITE, la PRODUCTION ou la LOGISTIQUE d'une marque independante que personne ne dit. Le genre qui fait economiser 3000 euros ou evite une erreur fatale.\n\nLA FORMULE VIRALE OBLIGATOIRE :\n\n1. HOOK (0-3 sec) : Boucle ouverte sur une erreur chiffrée ou un secret de production. Ex: '73% des marques independantes perdent de l argent sur leur premiere commande, et voila pourquoi.'\n\n2. CORPS (4-25 sec) : Le conseil operationnel brut. Aucun mot de remplissage. Chaque phrase = une info actee. Format : 'La realite c est que... / Ce que personne te dit c est... / La vraie question c est...' Les gens doivent sauvegarder parce que c est trop bon pour oublier.\n\n3. MICRO-CTA (vers 25 sec) : 'Si tu veux le template exact que j utilise pour...' (ne termine pas, coupe sur le CTA final).\n\n4. CTA FINAL (36-45 sec) : 'Commente VETEMENT et je t envoie ma ressource complete en DM. Gratuit, maintenant.'\n\nMISE EN FORME (renvoie UNIQUEMENT ceci) :\n\n[BUSINESS] - Conseil Business\n\n🎬 SCRIPT FACECAM :\n(Hook) : [Stat ou secret de prod - boucle ouverte]\n(Corps) : [Conseil operationnel pur, phrases courtes, sauvegardable]\n(Micro-CTA) : [Promesse d outil ou template a 25 sec]\n(CTA Final) : [Commente VETEMENT + promesse DM]\n\n📱 CAPTION RESEAUX : [Reprise du hook | Conseil en 2 lignes | Commente VETEMENT | 5 hashtags]",
                "hasOutputParser": false,
                "messages": {
                    "messageValues": [
                        {
                            "message": "Tu es le fondateur d'OUTFITY. Tu t'adresses a des gens qui veulent lancer leur marque de vetement mais qui bloquent sur les couts, la production, la logistique. Ils ont peur de perdre de l'argent. Ton conseil doit lever ces peurs.\n\nREGLE ABSOLUE DE STYLE : Tu ecris pour etre DIT a voix haute, pas pour etre lu. Chaque phrase doit sonner naturel si je la lis devant une camera. Utilise les mots de l'oral : 't'as', 'c'est', 'y'a', 'genre', 'en vrai', 'franchement', 'ca'. Pas de jargon, pas de formules ecrites. Ecris comme tu parles a un pote."
                        }
                    ]
                }
            },
            "id": "a1b2c3d4-0005-0005-0005-000000000005",
            "name": "Claude - Conseil Business",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4,
            "position": [
                660,
                300
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "Tu es le fondateur d'OUTFITY. Trouve un HACK MARKETING ou une strategie de VIRALITE (psychologie du prix, TikTok organique, biais cognitifs, conversion) pour faire exploser une marque de vetements. Quelque chose de contre-intuitif que les agences ne disent pas.\n\nLA FORMULE VIRALE OBLIGATOIRE :\n\n1. HOOK (0-3 sec) : Contre-intuition maximale. Ce qui marche est souvent l'inverse de ce que les gens pensent. Ex: 'Arrête de faire des pubs. Voila pourquoi tes ventes stagnent.' OU une stat qui choque : 'Les marques qui postent le moins ont 3x plus d engagement. Voila pourquoi.'\n\n2. CORPS (4-25 sec) : Explique le hack en 3 etapes max, aucune theorie. Que du concret, acteable aujourd hui. Utilise les biais cognitifs dans le texte lui-meme (rareté, preuve sociale, reciprocite). Les gens doivent partager parce que c est trop contre-intuitif pour ne pas le partager.\n\n3. MICRO-CTA (vers 25 sec) : 'Et le truc que je n ai dit a personne encore...' (coupe, cree la frustration, replante l attention).\n\n4. CTA FINAL (36-45 sec) : 'Commente VETEMENT, j envoie le guide complet en DM. Zero email, zero pub. Maintenant.'\n\nMISE EN FORME (renvoie UNIQUEMENT ceci) :\n\n[MARKETING] - Strategie Marketing\n\n🎬 SCRIPT FACECAM :\n(Hook) : [Contre-intuition forte - boucle ouverte]\n(Corps) : [Hack en 3 etapes max, ultra-concret, shareable]\n(Micro-CTA) : [Teaser frustrant qui replante l attention]\n(CTA Final) : [Commente VETEMENT + promesse DM]\n\n📱 CAPTION RESEAUX : [Reprise contre-intuition | 2 lignes hack | Commente VETEMENT | 5 hashtags]",
                "hasOutputParser": false,
                "messages": {
                    "messageValues": [
                        {
                            "message": "Tu es le fondateur d'OUTFITY. Tu t'adresses a des gens qui veulent lancer leur marque mais qui ne savent pas comment se faire connaitre sans budget pub. Donne-leur les vraies cles du marketing organique avec 0 euros de pub.\n\nREGLE ABSOLUE DE STYLE : Tu ecris pour etre DIT a voix haute, pas pour etre lu. Chaque phrase doit sonner naturel si je la lis devant une camera. Utilise les mots de l'oral : 't'as', 'c'est', 'y'a', 'genre', 'en vrai', 'franchement'. Pas de formules ecrites. Ecris comme tu parles a un pote entrepreneur."
                        }
                    ]
                }
            },
            "id": "a1b2c3d4-0006-0006-0006-000000000006",
            "name": "Claude - Conseil Marketing",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4,
            "position": [
                660,
                500
            ]
        },
        {
            "parameters": {
                "model": "claude-3-5-sonnet-20240620",
                "options": {}
            },
            "id": "a1b2c3d4-0007-0007-0007-000000000007",
            "name": "Anthropic Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
            "typeVersion": 1.2,
            "position": [
                500,
                350
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "Tu es le fondateur d'OUTFITY. Fais un script 'Vendeur Educatif' (Donner, Donner, Demander) qui PERCE L'ALGO. Pars d'une vraie erreur fatale liee a la creation de marque. Donne enormement de valeur brute, puis propose la ressource comme la suite logique et naturelle.\n\nLA FORMULE VIRALE OBLIGATOIRE :\n\n1. HOOK (0-3 sec) : Electrochoc psychologique. Une boucle ouverte sur une erreur specifique et chiffree que 90% des gens font. Ex: 'L erreur que font 9 marques sur 10 a leur lancement et qui leur coute 6 mois de retard.'\n\n2. CORPS (4-25 sec) : Methode Donner Donner. Donne 2 conseils ultra-concrets, actionnables aujourd hui. Des phrases courtes. Le genre de valeur que les gens sauvegardent et envoient a leurs amis entrepreneurs. Ne retiens rien.\n\n3. MICRO-CTA (vers 25 sec) : 'J ai condense tout le reste dans quelque chose que je distribue gratuitement...' (pause, coupe, replante l attention avant le CTA final).\n\n4. CTA FINAL (36-45 sec) : 'Commente VETEMENT et je t envoie ma ressource privee en DM : Faire ses premiers 1 000 euros avec sa marque. C est gratuit, c est maintenant.'\n\nMISE EN FORME (renvoie UNIQUEMENT ceci) :\n\n[OFFRE] - Formation 1000€\n\n🎬 SCRIPT FACECAM :\n(Hook) : [Electrochoc - erreur fatale chiffree]\n(Corps) : [2 conseils ultra-actionnables, sauvegardables]\n(Micro-CTA) : [Teaser de la ressource a 25 sec]\n(CTA Final) : [Commente VETEMENT + promesse ressource DM]\n\n📱 CAPTION RESEAUX : [Reprise hook | 2 conseils en format liste | Commente VETEMENT pour la ressource | 5 hashtags]",
                "hasOutputParser": false,
                "messages": {
                    "messageValues": [
                        {
                            "message": "Tu es le fondateur d'OUTFITY. Tu t'adresses a des gens qui ont un reve : lancer leur propre marque. Ils ont peur de l'echec, de perdre de l'argent, de ne pas etre legitimes. Montre-leur que faire ses premiers 1000 euros avec une marque est accessible.\n\nREGLE ABSOLUE DE STYLE : Tu ecris pour etre DIT a voix haute, pas pour etre lu. Chaque phrase doit sonner naturel si je la lis devant une camera. Utilise les mots de l'oral : 't'as', 'c'est', 'y'a', 'genre', 'en vrai', 'franchement', 'ca', 'kiffer'. Pas de formules ecrites, pas de jargon. Ecris comme si tu parlais a un pote autour d'un cafe. Tu vends par l'education, jamais par la pub."
                        }
                    ]
                }
            },
            "id": "a1b2c3d4-0011-0011-0011-000000000011",
            "name": "Claude - Conseil Vendeur",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4,
            "position": [
                660,
                700
            ]
        },
        {
            "parameters": {
                "mode": "append",
                "options": {}
            },
            "id": "a1b2c3d4-0008-0008-0008-000000000008",
            "name": "Merge All Scripts",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const day = new Date().getDay();\nconst offset = 2;\nconst hooks = {\n  0: { type: 'CHIFFRE_CHOC', label: 'Chiffre Choc', instruction: \"Commence par un chiffre concret et surprenant. Ex: 'J ai lance ma premiere marque avec 300 euros. Voila exactement comment.' Le chiffre doit etre credible et inspirer.\" },\n  1: { type: 'PROMESSE_RAPIDE', label: 'Promesse Rapide', instruction: \"Fais une promesse de valeur immediate. Ex: 'En 45 secondes je vais te dire comment trouver ton fabricant sans intermediaire et sans perdre d argent.'.\" },\n  2: { type: 'CONTRE_INTUITIF', label: 'Contre-Intuitif', instruction: \"Commence par quelque chose d inattendu, mais sans provoquer. Ex: 'Ton logo et tes couleurs, tout le monde s en fout quand tu debutes. Voila ce qui compte vraiment.'.\" },\n  3: { type: 'IDENTIFICATION', label: 'Identification Directe', instruction: \"Commence par cibler directement la situation du spectateur. Ex: 'T as une idee de marque depuis des mois et t as encore rien fait ?'.\" },\n  4: { type: 'BOUCLE_OUVERTE', label: 'Boucle Ouverte', instruction: \"Ouvre une boucle que le cerveau DOIT fermer. Ex: 'Y a une erreur que font 90% des gens qui lancent leur marque et qui leur coute 6 mois.'.\" },\n  5: { type: 'CHIFFRE_CHOC', label: 'Chiffre Choc', instruction: \"Commence par un chiffre qui frappe. Ex: '8 marques sur 10 ne font pas un seul euro en ligne dans leurs 3 premiers mois. Voila pourquoi.'.\" },\n  6: { type: 'PROMESSE_RAPIDE', label: 'Promesse Rapide', instruction: \"Fais une promesse de valeur immediate. Ex: 'Je vais t expliquer en 3 etapes comment lancer ta marque sans 5000 euros.'.\" }\n};\nconst h = hooks[((day + offset) % 7)];\nreturn [{ json: { hookType: h.type, hookLabel: h.label, hookInstruction: h.instruction } }];"
            },
            "id": "a1b2c3d4-0014-0014-0014-000000000014",
            "name": "Selecteur Hook 2",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                220,
                -220
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Ta mission : Cree un script de video facecam (TikTok, Reels, Shorts) de 45 secondes sur le theme de lancer sa marque de vetement.\n\nTYPE DE HOOK DU JOUR : {{ $json.hookLabel }}\nINSTRUCTION POUR LE HOOK : {{ $json.hookInstruction }}\n\nLA FORMULE VIRALE (ordre strict) :\n1. HOOK (0-3 sec) : Applique le type de hook indique.\n2. CORPS (4-25 sec) : Valeur pure, concrete, actionnable. Phrases de 8 mots max.\n3. MICRO-CTA (25 sec) : Replante l attention. Ex : 'Et si tu veux savoir exactement comment...' (coupe).\n4. CTA FINAL : 'Le lien est dans ma bio, essai gratuit 3 jours sans CB.'\n\nMISE EN FORME (renvoie UNIQUEMENT ceci) :\n\n[EDUCATIF] - {{ $json.hookLabel }}\n\n🎬 SCRIPT FACECAM :\n(Hook) : [Texte hook]\n(Corps) : [Valeur pure, phrases courtes]\n(Micro-CTA) : [Replante l attention a 25 sec]\n(CTA Final) : [Lien bio + essai gratuit]\n\n📱 CAPTION : [Reprise hook | 2-3 lignes valeur | Lien bio | 5 hashtags]",
                "hasOutputParser": false,
                "messages": {
                    "messageValues": [
                        {
                            "message": "Tu es le fondateur d'OUTFITY. Tu t'adresses a des 18-24 ans qui veulent lancer leur marque de vetement. Ecris pour etre DIT a voix haute : 't as', 'c est', 'y a', 'genre', 'en vrai'. Phrases courtes, ton naturel."
                        }
                    ]
                }
            },
            "id": "a1b2c3d4-0015-0015-0015-000000000015",
            "name": "Claude - Script Educatif 2",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4,
            "position": [
                440,
                -220
            ]
        },
        {
            "parameters": {
                "jsCode": "const day = new Date().getDay();\nconst offset = 4;\nconst hooks = {\n  0: { type: 'CONTRE_INTUITIF', label: 'Contre-Intuitif', instruction: \"Commence par quelque chose d inattendu. Ex: 'Poster tous les jours sur Instagram est peut etre ta pire erreur de debutant.'.\" },\n  1: { type: 'IDENTIFICATION', label: 'Identification Directe', instruction: \"Cible directement la situation du spectateur. Ex: 'T es du genre a tout planifier mais a ne jamais passer a l action pour ta marque ?'.\" },\n  2: { type: 'BOUCLE_OUVERTE', label: 'Boucle Ouverte', instruction: \"Ouvre une boucle que le cerveau DOIT fermer. Ex: 'Y a une chose que j aurais voulu savoir avant de lancer ma premiere marque.'.\" },\n  3: { type: 'CHIFFRE_CHOC', label: 'Chiffre Choc', instruction: \"Commence par un chiffre frappant. Ex: 'J ai genere mes 1000 premiers euros avec ma marque en 3 semaines. Voila la methode exacte.'.\" },\n  4: { type: 'PROMESSE_RAPIDE', label: 'Promesse Rapide', instruction: \"Promesse de valeur concrete. Ex: 'En 45 secondes je vais te montrer comment definir ton prix de vente sans perdre d argent.'.\" },\n  5: { type: 'CONTRE_INTUITIF', label: 'Contre-Intuitif', instruction: \"Ex: 'T as pas besoin d un logo pour commencer a vendre. Voila ce dont t as vraiment besoin.'.\" },\n  6: { type: 'BOUCLE_OUVERTE', label: 'Boucle Ouverte', instruction: \"Ex: 'Y a une raison pour laquelle certaines marques explosent en 3 mois et d autres galèrent pendant 2 ans.'.\" }\n};\nconst h = hooks[((day + offset) % 7)];\nreturn [{ json: { hookType: h.type, hookLabel: h.label, hookInstruction: h.instruction } }];"
            },
            "id": "a1b2c3d4-0016-0016-0016-000000000016",
            "name": "Selecteur Hook 3",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                220,
                -420
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Ta mission : Cree un script de video facecam (TikTok, Reels, Shorts) de 45 secondes sur le theme de lancer sa marque de vetement.\n\nTYPE DE HOOK DU JOUR : {{ $json.hookLabel }}\nINSTRUCTION POUR LE HOOK : {{ $json.hookInstruction }}\n\nLA FORMULE VIRALE (ordre strict) :\n1. HOOK (0-3 sec) : Applique le type de hook indique.\n2. CORPS (4-25 sec) : Valeur pure, concrete, actionnable. Phrases de 8 mots max.\n3. MICRO-CTA (25 sec) : 'Commente VETEMENT et je t envoie ma ressource complete en DM.' (coupe).\n4. CTA FINAL : 'Commente VETEMENT maintenant, c est gratuit.'\n\nMISE EN FORME (renvoie UNIQUEMENT ceci) :\n\n[EDUCATIF] - {{ $json.hookLabel }}\n\n🎬 SCRIPT FACECAM :\n(Hook) : [Texte hook]\n(Corps) : [Valeur pure, phrases courtes]\n(Micro-CTA) : [Replante l attention a 25 sec]\n(CTA Final) : [Commente VETEMENT + DM]\n\n📱 CAPTION : [Reprise hook | 2-3 lignes valeur | Commente VETEMENT | 5 hashtags]",
                "hasOutputParser": false,
                "messages": {
                    "messageValues": [
                        {
                            "message": "Tu es le fondateur d'OUTFITY. Tu t'adresses a des 18-24 ans qui veulent lancer leur marque de vetement. Ecris pour etre DIT a voix haute : 't as', 'c est', 'y a', 'genre', 'en vrai'. Phrases courtes, ton naturel."
                        }
                    ]
                }
            },
            "id": "a1b2c3d4-0017-0017-0017-000000000017",
            "name": "Claude - Script Educatif 3",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4,
            "position": [
                440,
                -420
            ]
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "value": "REMPLACE_PAR_TON_GOOGLE_DOC_ID",
                    "__rl": true,
                    "mode": "id"
                },
                "text": "=--------------------------------------------------\n📅 DATE : {{ $now.format('DD/MM/YYYY') }}\n--------------------------------------------------\n\n{{ $json.text }}\n\n",
                "options": {}
            },
            "id": "a1b2c3d4-0009-0009-0009-000000000009",
            "name": "Google Docs - Archive Scripts",
            "type": "n8n-nodes-base.googleDocs",
            "typeVersion": 2,
            "position": [
                1120,
                200
            ]
        },
        {
            "parameters": {
                "calendar": {
                    "value": "primary",
                    "__rl": true,
                    "mode": "list"
                },
                "start": "={{ $json.text.includes('[OFFRE]') ? $today.plus({days:1, hours:19}).toISO() : $json.text.includes('[BUSINESS]') ? $today.plus({days:1, hours:17}).toISO() : $json.text.includes('[MARKETING]') ? $today.plus({days:1, hours:18}).toISO() : ($itemIndex % 3 === 0) ? $today.plus({days:1, hours:11}).toISO() : ($itemIndex % 3 === 1) ? $today.plus({days:1, hours:12}).toISO() : $today.plus({days:1, hours:13}).toISO() }}",
                "end": "={{ $json.text.includes('[OFFRE]') ? $today.plus({days:1, hours:19, minutes:30}).toISO() : $json.text.includes('[BUSINESS]') ? $today.plus({days:1, hours:17, minutes:30}).toISO() : $json.text.includes('[MARKETING]') ? $today.plus({days:1, hours:18, minutes:30}).toISO() : ($itemIndex % 3 === 0) ? $today.plus({days:1, hours:11, minutes:30}).toISO() : ($itemIndex % 3 === 1) ? $today.plus({days:1, hours:12, minutes:30}).toISO() : $today.plus({days:1, hours:13, minutes:30}).toISO() }}",
                "additionalFields": {
                    "summary": "=🎬 {{$json.text.match(/\\[(.*?)\\]/)?.[0] || '[CONTENU]'}} {{ $json.title || 'Strategie OUTFITY' }}",
                    "description": "={{ $json.text }}\n\n{{ $json.coverImage ? '🖼️ PHOTO DE L\\'ARTICLE :\n' + $json.coverImage : '' }}"
                }
            },
            "id": "a1b2c3d4-0010-0010-0010-000000000010",
            "name": "Google Calendar - Planning Tournage",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1.1,
            "position": [
                1120,
                400
            ]
        }
    ],
    "connections": {
        "Chaque soir a 22h": {
            "main": [
                [
                    {
                        "node": "Selecteur Type de Hook",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Selecteur Hook 2",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Selecteur Hook 3",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Claude - Conseil Business",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Claude - Conseil Marketing",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Claude - Conseil Vendeur",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Selecteur Type de Hook": {
            "main": [
                [
                    {
                        "node": "Claude - Script Educatif",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Selecteur Hook 2": {
            "main": [
                [
                    {
                        "node": "Claude - Script Educatif 2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Selecteur Hook 3": {
            "main": [
                [
                    {
                        "node": "Claude - Script Educatif 3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Claude - Script Educatif": {
            "main": [
                [
                    {
                        "node": "Merge All Scripts",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Claude - Script Educatif 2": {
            "main": [
                [
                    {
                        "node": "Merge All Scripts",
                        "type": "main",
                        "index": 4
                    }
                ]
            ]
        },
        "Claude - Script Educatif 3": {
            "main": [
                [
                    {
                        "node": "Merge All Scripts",
                        "type": "main",
                        "index": 5
                    }
                ]
            ]
        },
        "Claude - Conseil Business": {
            "main": [
                [
                    {
                        "node": "Merge All Scripts",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Claude - Conseil Marketing": {
            "main": [
                [
                    {
                        "node": "Merge All Scripts",
                        "type": "main",
                        "index": 2
                    }
                ]
            ]
        },
        "Claude - Conseil Vendeur": {
            "main": [
                [
                    {
                        "node": "Merge All Scripts",
                        "type": "main",
                        "index": 3
                    }
                ]
            ]
        },
        "Merge All Scripts": {
            "main": [
                [
                    {
                        "node": "Google Docs - Archive Scripts",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Google Calendar - Planning Tournage",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Anthropic Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Claude - Script Educatif",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Claude - Conseil Business",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Claude - Conseil Marketing",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Claude - Conseil Vendeur",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "versionId": "v1"
}